body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.btn-primary .btn-success{
  margin-top: 30px;
}

.block-button{
  margin: 15px auto;
  display: block;
  text-align: center;
}

.localization{
  height: 20px;
  width: 29px;
  border: 1px solid #03030341;
}

.search{
  margin-left: 2%;
  margin-right: 2%;
}

.error{
  border-color: #FF4040;
  color: #FF4040;
} 

.success{
  border-color: rgb(73, 252, 177);
  color: rgb(70, 253, 146);
} 