body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.btn-primary .btn-success{
  margin-top: 30px;
}

.block-button{
  margin: 15px auto;
  display: block;
  text-align: center;
}
